# Lab Assignment

### Q1: Write a NumPy program to create a structured array from given student name, height, class and their data types. Then sort the array on height

In [ ]:
import numpy as np

In [ ]:
arr=np.array([('Aya',160,1),('simba',150,2),('mufasa',170,3)],dtype=[('st_name', (np.str_, 10)), ('height',np.float64), ('class', np.int32)])
arr

array([('Aya', 160., 1), ('simba', 150., 2), ('mufasa', 170., 3)],
      dtype=[('st_name', '<U10'), ('height', '<f8'), ('class', '<i4')])

In [ ]:
arr_sorted=np.sort(arr,order='height')
arr_sorted

array([('simba', 150., 2), ('Aya', 160., 1), ('mufasa', 170., 3)],
      dtype=[('st_name', '<U10'), ('height', '<f8'), ('class', '<i4')])

### Q2: Using Both Numpy and Scipy T Kindly solve the following equations using SciPy:
- x + 2y - 3z + 2w = 30
- 2x - 5y + 4z + 9w = 4
- -5x + 40y - z - 20w =- 6
- 5x - 4y - z + 60w = 5

In [ ]:
from scipy import linalg

In [ ]:
coff = np.array([[1, 2,-3,2], [2,-5,4,9], [-5, 40, -1,-20],[5,-4,-1,60]])
c=np.array([[30],[4],[-6],[5]])

In [ ]:
solu_eq=linalg.solve(coff,c)
solu_eq

array([[19.46701571],
       [ 1.44371728],
       [-3.54973822],
       [-1.50183246]])

### Q3: Implement the L1 and L2 loss functions
- Exercise: Implement the numpy vectorized version of the L1 loss. You may find the function abs(x) (absolute value of x) useful.
![image.png](attachment:image.png)

In [ ]:
def L1(yhat, y):
    """
    Arguments:
    yhat -- vector of size m (predicted labels)
    y -- vector of size m (true labels)

    Returns:
    loss -- the value of the L1 loss function defined above
    """

    loss = np.sum(abs(yhat - y))

    return loss

In [ ]:
yhat = np.array([.9, 0.2, 0.1, .4, .9])
y    = np.array([1 ,  0 ,  0 ,  1, 1])

l1_loss = L1(yhat,y)
print("L1 = " + str(l1_loss))

L1 = 1.1

In [ ]:
# check the output
# abs((1-.9))+abs(.2-0)+abs((0.1-0))+abs((.4-1))+abs((.9-1))

1.1

![image.png](attachment:image.png)

In [ ]:
def L2(yhat, y):
    """
    Arguments:
    yhat -- vector of size m (predicted labels)
    y -- vector of size m (true labels)

    Returns:
    loss -- the value of the L2 loss function defined above
    """
    loss = np.sum((yhat-y)**2)

    return loss

In [ ]:
yhat = np.array([.9, 0.2, 0.1, .4, .9])
y    = np.array([1 ,  0 ,  0 ,  1, 1])

l2_loss = L2(yhat,y)

print("L2 = " + str(l2_loss))

L2 = 0.43

In [ ]:
# check the output
# (1-.9)**2+(.2-0)**2+(0.1-0)**2+(.4-1)**2+(.9-1)**2

0.43

### Q4: comparing the dot product using parallelism in python vs numpy_dot_product vs using the for_loop and compute the time needed for each.

In [ ]:
from multiprocessing import Pool
import time
t1 = time.time()

In [ ]:
T=1000

In [ ]:
a = np.random.randn(10_000)
b = np.random.randn(10_000)

#### dot product using parallelism using Pool

In [ ]:
def dot_mat(a,b):
    return np.dot(a,b)

In [ ]:
a_splited = np.array_split(a, 3)
b_splited = np.array_split(b, 3)
print(a_splited)
print(b_splited)

[array([-0.79031686,  0.5289336 , -2.61375071, ..., -1.92236507,
        0.94138773, -0.13842186]), array([ 0.68773723,  0.77262585,  0.24194786, ..., -0.85997318,
        1.75481496, -1.46419491]), array([ 0.51054975, -0.35998492,  0.35801153, ..., -1.59615321,
        0.46241016,  1.65819506])]
[array([ 0.23402919,  0.65367088, -0.56914914, ..., -0.62460049,
       -1.6989287 ,  1.61098555]), array([-1.67580487,  0.75260991, -0.16778846, ..., -0.22998607,
        1.54220816, -1.56683015]), array([ 0.60189321, -0.92243504,  3.19732785, ...,  1.83166329,
       -0.13654345,  1.81901307])]

In [ ]:
pool = Pool(3)
result = pool.starmap(dot_mat,zip(a_splited, b_splited))

In [ ]:
result

[11.100307831562501, 15.348685493126787, -23.26423540222718]

In [ ]:

tic = time.process_time()

for t in range(T):
      result


toc = time.process_time()
dt1 = toc - tic

print("Time in sec:", dt1)

Time in sec: 0.00015352600000007044

#### using the for_loop

In [ ]:
def dot_(a, b):
    result = 0
    for i in range(len(a)):
        result += a[i] * b[i]
    return result

# dot_(a, b)

In [ ]:
tic = time.process_time()

for t in range(T):
    dot_(a, b)

toc = time.process_time()
dt1 = toc - tic

print("Time in sec:", dt1)

Time in sec: 2.953125

#### using the numpy dot

In [ ]:
tic = time.process_time()

for t in range(T):
     np.dot(a,b)

toc = time.process_time()
dt1 = toc - tic

print("Time in sec:", dt1)

Time in sec: 0.0

#### using the mathematical operations

In [ ]:
tic = time.process_time()

for t in range(T):
     np.sum(a*b)

toc = time.process_time()
dt1 = toc - tic

print("Time in sec:", dt1)

Time in sec: 0.015625